<div class="local-termine-view-tabs">
    <a href="{{allurl}}"{{#activeupcoming}} class="font-weight-bold"{{/activeupcoming}}>{{alllabel}}</a>
    <span class="local-termine-view-tabs-sep" aria-hidden="true"> | </span>
    <a href="{{pasturl}}"{{#activepast}} class="font-weight-bold"{{/activepast}}>{{pastlabel}}</a>
</div>
